@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-width-none {
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-width-none::-webkit-scrollbar {
    width: 0; /* Chrome, Safari, Edge */
    height: 0;
  }
}

html, body, #root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

